h1 {
  margin-bottom: 0.5rem;
}

.text-lead {
  font-weight: 400;
  font-size: x-large;
  margin: 2rem 0 0 0;
  line-height: 2rem !important;
  color: var(--text-default-grey) !important;
}

h1,
h2,
h3,
strong {
  color: var(--text-label-green-archipel);
}

ul {
  margin: 0;
  padding: 0;
}

.fr-callout {
  margin: 0;
}

.jumbo {
  margin-top: 3rem;
}

.jumbo p {
  font-size: x-large;
}

ul.tiles {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

ul.tiles li {
  flex: 1;
  display: flex;
}

ul.tiles li .fr-callout {
  flex: 1;
}

.download-links {
  gap: 3rem;
  display: flex;
  padding: 3rem 0 1rem;
  justify-content: center;
}

.download-links .store-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.store-links a[href] {
  background-image: none;
}

.store-links a[target="_blank"]::after {
  display: none;
}

.fr-header__tools-links .fr-btn {
  color: var(--text-default-info);
}

.fr-header__operator img {
  width: 4.3rem;
  height: 4.3rem;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.container-image {
  text-align: center;
}

.container-image > img {
    max-width: 100%;
    height: auto;
}

.relative {
  position: relative;
}

.grid-image {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2%;
}

@media (max-width: 768px) { 

  .download-links {
    flex-direction: column;
  }
  .flex {
    flex-direction: column;
    margin-left: none !important;
  }
  .grid-image {
    height: auto;
    grid-template-columns: 100%;
    grid-gap: 0;
  }
}
